header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 80px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  justify-items: center;
  gap: 50px;
  list-style-type: none;
}

nav li a {
  color: #000;
  text-decoration: none;
}

nav li a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  position: fixed;
  background-color: white;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer p {
  padding-left: 20px;
  height: 40px;
  display: flex;
  align-items: center;
}
